<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Reagen</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
	
		<div class="container-fluid">
	        <h2>Hello!</h2>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="card">
	                    <div class="card-header">
	                        Tambah Kebutuhan Reagen
	                    </div>
	                    <div class="card-body">
	                        <form th:action="@{/lab/kebutuhan/tambah}"  th:object="${kebutuhan_reagen}" method="POST">
	                            <!--  <form> 
	                            	<div class="form-group"> 
	                            		<label for="sel1">Nama Reagen:</label> 
	                            		<select class="form-control" name="nama"> 
	                            			<option>-</option> 
	                            			<option>Reagen 1</option> 
	                            			<option>Reagen 2</option> 
	                            			<option>Reagen 3</option>
	                            			<option>Reagen 4</option>
	                            			<option>Reagen 5</option> 
	                            		</select> 
	                            	</div> 
	                            </form>-->
	                            Nama Reagen: <br>
	                            <input type="text" name="nama" class="form-control"/>
	                            <br>
	                            Jumlah: <br>
	                            <input type="number" name="jumlah" class="form-control"/>
	                            <br><br>
	                            <button type="submit" class="btn btn-primary">Submit</button>
	                        </form>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

</html>