<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Lab Supplies</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div th:if="${success}=='true'">
    			<h1>Data lab supplies berhasil ditambah!</h1>
		</div>
	
		<div class="container-fluid">
	        <h2>Hello!</h2>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="card">
	                    <div class="card-header">
	                        Tambah Lab Supplies
	                    </div>
	                    <div class="card-body">
	                    	<div>
	                    		<form th:action="@{/lab/stok/tambah}" th:object="${lab}" method="POST">
	                    			<div class="form-group">
	                    				<label for="nama">Nama Barang:</label>
	                    				<input type="text" class="form-control" name="nama">
	                    			</div>
	                    			<div class="form-group">
	                    				<label for="jenis">Jenis Barang:</label>
	                    				<input type="text" class="form-control" name="jenis">
	                    			</div>
	                    			<div class="form-group">
	                    				<label for="jummlah">Jumlah Barang:</label>
	                    				<input type="text" class="form-control" name="jumlah">
	                    			</div>
	                    			<div class="form-group">
	                    				<label for="deskripsi">Deskripsi Barang:</label>
	                    				<input type="text" class="form-control" name="deskripsi">
	                    			</div>
	                    			
	                    			<button type="submit" class="btn btn-primary">Submit</button>
	                    		</form>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</body>

</html>