<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Jadwal</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
			<div th:replace="fragments/fragment :: navbar" ></div>
		
			<div class="card" align="center">
			<center class="col-md-5">
				<h2 class="card-header">Jadwal Jaga Lab</h2>
				<p class= "card-header" th:text="'Tanggal ' + ${jadwal1.tanggal}"> </p>
		
				<div th:each = "jadwals : ${jadwal}" class = "card">
					<div class = "card-body">
					<p><th th:text="${jadwals.staffModel.name}"></th></p>
						<table border="I">
							<thead>
								<tr style="text-align: center">
									<th style="text-align: center">Jam mulai  </th>
									<th style="text-align: center">Jam selesai  </th>
								</tr>
							</thead>
							<tbody>	
								<tr style="text-align: center">
									<td style="text-align: center" th:text="${jadwals.waktuMulai}"></td>
									<td style="text-align: center" th:text="${jadwals.waktuSelesai}"></td>    
								</tr>
							</tbody>
					</table>
					<button class="btn btn-light"><a th:href="@{/lab/jadwal-jaga/ubah/} + ${jadwals.id}">ubah</a></button>
					</div>
				</div>
			</center>
		</div>
		
	</body>
</html>